{{#with data}}

<div class="card">
    <div class="card_img" style="background-image: url({{img}})">{{image}}</div>
    <h2 class="card_title">{{title}}</h2>
    <p class="card_text">{{text}}</p>
    <a class="card_button" href="{{href}}">{{button}}</a>
</div>

{{/with}}